.bundle/
.alchemy_bundle_*
Demo.zip
AlchemyEngineCLILog.log
Pods/
framework_build.sh
local_pod_manager.rb
pod_script.sh
temp_pod.zip
temp_pod/
KAAlchemyClientBuild/
alchemy/env_config.json
alchemy/alchemy_scripts
alchemy/ruby.tar.xz
alchemy/ruby_3.2.3
alchemy/alchemy_scripts.zip
alchemy_temp/
alchemy_ios_files/
LKKAContainerFramework/
LKKAContainer/
vendor/
*.xcuserstate